<!doctype html>
<html>
<head>
    <title>Reticulating Splines</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.1/angular.min.js"></script>
</head>
<body ng-app="exampleApp">
    <div ng-controller="ExampleCtrl as example">
        <h1>
            <reticulating-splines
                theme="example.theme.value"
                interval="example.interval">
            </reticulating-splines>
        </h1>
        <select ng-options="option.name for option in example.themes track by option.value"
            ng-model="example.theme">
        </select>
        <label>
            Interval (ms):
        </label>
        <input type="number" ng-model="example.interval">
    </div>

    <script src="dist/reticulating-splines.min.js"></script>
    <script>
        angular.module('exampleApp', ['reticulatingSplines'])
            .controller('ExampleCtrl', function(spline) {
                var ctrl = this;

                ctrl.interval = 2500;

                ctrl.themes = [
                    {name: 'Business Jargon', value: 'web'},
                    {name: 'The Sims', value: 'sims'}
                ];
                ctrl.theme = ctrl.themes[0];
            });
    </script>
</body>
</html>
